.animated-hover:hover>.svg-inline--fa {
  color: var(--green);
  transform: scaleX(1);
  transform-origin: bottom left;
  -webkit-animation: pulse 1s linear infinite;
  animation: pulse 1s linear infinite;
}

@keyframes pulse {

  0%,
  100% {
    transform: scale(1.3);
  }

  50% {
    transform: scale(0.8);
  }
}